
.team-header {
    padding-bottom: 30px;
    text-align: center;
}

.team-content{
box-shadow: 1px 1px 3px #444444;
margin: 10px;
padding-top: 10px;
box-sizing: border-box;
}
.team-content h4 {
    /* text-align:center; */
    color: #666;
}

.team .team-content b {
}
/*team css*/
.team-content {
    /*padding: 40px 0 80px;*/
    text-align: center;
}

.team b, .team h2, .team h4 {
    margin: 20px 0 20px;
}

.team p {
    /* padding: 20px; */
    color: #737373;
}

.team img {
    height: 150px;
    width: 150px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #444444;
    /*margin-top:80px;*/
}

.team i {
    height: 40px;
    width: 40px;
    padding: 5px;
    /* font-size: 17px; */
    border-radius: 50%;
    background-color: #a0db8e;
    margin-bottom: 20px;
    vertical-align: middle;
    line-height: 30px;
    box-shadow: 1px 1px 1px #444444;
}

.team a:hover i {
    background-color: #709963;
}

/*team*/


.container-fluid {
    width: 100%;
    margin:0;
    padding:0; 
} 

.bg-light {
    background-color: #fff !important;
}
   
.banner{
    background:url("IMAGES/Nasra_1211x500_forweb2.png") no-repeat center;
    background-size:cover;
    min-height:630px;
}


.simple-header.add-slash:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 90px;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(-106deg,rgba(0,0,0,.5) calc((1140px / 1.8) + ((100vw - 1180px)/ 2)),transparent 0);
}
/* ---- lead form --- */

.intro {
    width: 100%;
    position: relative;
}

.intro-content {
    background: url(IMAGES/bg1.jpg) no-repeat top center;
    padding: 60px 0 60px;
    transition:all .2s all;
}


.slogan {
    margin-bottom: 20px;
}

.white-box {
    /* background: rgba(255,255,255,.8); */
    padding: 20px;
    border-radius: 4px;
}

.intro-content h4,
    .intro-content h2 {
    margin-bottom: 10px;
    text-align: center;
}

.intro-div-transparent {
    background-color: rgba(220,220,220,.1);
    box-shadow: 1px 1px 4px #444444;
    padding: 10px 10px;
    color: #444444;
    border-radius: 5px;
}


ul.lead-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
}


ul.lead-list li {
    margin: 0 0 20px 0;
    line-height: 1.6em;
    list-style-position: inside;
}

ul.lead-list li span.fa {
    /* display:block; */
    margin: 8px 5px 0 0;
    float: left;
}

ul.lead-list li span.list {
    /* border:1px solid red; */
            display: inline;
            margin: 0 0 14px;
        }



.intro-left-img {
    width:100%;
    height:100%;
    /* margin-top:50px; */
    /* border: 1px solid red; */
    display: flex;
    align-items:center;
}
.intro-left-img img{
    margin:10px auto;
    /* margin: 70px 70px !important; */
}
    

/*event*/

.muf {
    font-family: 'Indie Flower', cursive;
}

.title-web {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}
.header-h {
    color: #FFB03B;
    
    font-family: 'Satisfy', sans-serif;
    font-weight: 300;
}

.header-p {
    color: #9699a6;
    
}
.rounded1{
    border-radius:50%;
border:1px solid red;
}


.backgroundspan  .before {
    position: absolute;
    height: 100%;
    width: 50%;
    background: url(IMAGES/top-rectangle.png);
    background-position: top right;
    background-size: 100%;
    /*top: 520px;*/
    right: 0;
    z-index: -999;
    background-repeat: no-repeat;
}

.backgroundspan .after {
    position: absolute;
    height: 60%;
    width: 100%;
    background: url(IMAGES/bottom-rectangle.png);
    background-position: bottom left;
    background-size: contain;
    bottom: 0;
    left: 0;
    z-index: -9999;
    background-repeat: no-repeat;
}

