
.team-header {
    padding-bottom: 30px;
    text-align: center;
}

.team-content{
box-shadow: 1px 1px 3px #444444;
margin: 10px;
padding-top: 10px;
box-sizing: border-box;
}
.team-content h4 {
    /* text-align:center; */
    color: #666;
}

.team .team-content b {
}
/*team css*/
.team-content {
    /*padding: 40px 0 80px;*/
    text-align: center;
}

.team b, .team h2, .team h4 {
    margin: 20px 0 20px;
}

.team p {
    /* padding: 20px; */
    color: #737373;
}

.team img {
    height: 150px;
    width: 150px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #444444;
    /*margin-top:80px;*/
}

.team i {
    height: 40px;
    width: 40px;
    padding: 5px;
    /* font-size: 17px; */
    border-radius: 50%;
    background-color: #a0db8e;
    margin-bottom: 20px;
    vertical-align: middle;
    line-height: 30px;
    box-shadow: 1px 1px 1px #444444;
}

.team a:hover i {
    background-color: #709963;
}

/*team*/

body{
/* font-size: 15px; */
    line-height: 1.52;
    color: #717f86;
    /* font-size: 16px; */
	font-family: 'Open Sans', sans-serif;
    /* font-weight: 400; */
    overflow-x: hidden;

} 

.container-fluid {
    width: 100%;
    margin:0;
    padding:0; 
} 

.bg-light {
    background-color: #fff !important;
}
   
.banner{
    background:url("IMAGES/Nasra_1211x500_forweb2.png") no-repeat center;
    background-size:cover;
    min-height:630px;
}


.simple-header.add-slash:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 90px;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(-106deg,rgba(0,0,0,.5) calc((1140px / 1.8) + ((100vw - 1180px)/ 2)),transparent 0);
}
/* ---- lead form --- */

.intro {
    width: 100%;
    position: relative;
}

.intro-content {
    background: url(IMAGES/bg1.jpg) no-repeat top center;
    padding: 60px 0 60px;
    transition:all .2s all;
}


.slogan {
    margin-bottom: 20px;
}

.white-box {
    /* background: rgba(255,255,255,.8); */
    padding: 20px;
    border-radius: 4px;
}

.intro-content h4,
    .intro-content h2 {
    margin-bottom: 10px;
    text-align: center;
}

.intro-div-transparent {
    background-color: rgba(220,220,220,.1);
    box-shadow: 1px 1px 4px #444444;
    padding: 10px 10px;
    color: #444444;
    border-radius: 5px;
}


ul.lead-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
}


ul.lead-list li {
    margin: 0 0 20px 0;
    line-height: 1.6em;
    list-style-position: inside;
}

ul.lead-list li span.fa {
    display: inline-block;
    margin: 5px 5px 0 0;
    /* float: left; */
}

ul.lead-list li span.list {
    /* border:1px solid red; */
            display: inline;
            margin: 0 0 0 10px;
        }



.intro-left-img {
    width:100%;
    height: 100%;
    /* margin-top:50px; */
    /* border: 1px solid red; */
    display: flex;
    /* align-items:center; */
}
.intro-left-img img{
    margin:10px auto;
    /* margin: 70px 70px !important; */
}
    /* --- Pricing box --- */
    .pricing-box {
    padding-left: 0 !important;
    padding-right: 0 !important ;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.pricing-content {
    background: #fff;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.1);
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
    margin-top: 20px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    position: relative;    
    border-radius: 4px;
    margin-right:0 !important;
    /*margin:0px !important;*/
}

    .pricing-content.general {
        z-index: 99;
    }

    .pricing-content:hover {
        margin-top: -10px;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
    }

    .pricing-content h2 {
        background-color: #666;
        color: #FFF;
        font-size: 17px;
        text-align: center;
        margin-bottom: 0;
        padding: 30px 0;
        border-radius: 4px 4px 0 0;
    }

    .pricing-content h3 {
        color: #fff;
        text-align: center;
        font-size: 32px;
        background: #444;
        margin-bottom: 0;
        font-weight: 700;
        padding: 30px 0;
    }

        .pricing-content h3 span {
            font-weight: 300;
            font-size: 18px;
        }

        .pricing-content h3 sup {
            font-size: 18px;
        }

    .pricing-content ul {
        list-style: none;
        margin: 25px 0;
    }

    .pricing-content li {
        border-top: 1px dotted #EFEFEF;
        width: 75%;
        color: #333;
        margin: 0 auto;
        padding: 15px 0;
    }

        .pricing-content li:first-child {
            border-top: none;
        }

        .pricing-content li i {
            float: right;
        }



        .pricing-content li del {
            color: #aaa;
        }

.price-bottom {
    background: #f7f7f7;
    text-align: center;
    padding: 25px 0;
    border-radius: 0 0 4px 4px;
}


.pricing-content p {
    background: #F8F8F8;
    padding: 20px;
}

.pricing-content.featured {
    margin-top: -20px;
    position: relative;
    z-index: 99;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
}


    .pricing-content.featured h3 {
        font-size: 38px;
        padding: 45px 0;
    }
    .pricing-content.featured h3 {
        background: #4ACCD1;
    }

/* end of pricing*/
.icon i {
    color: #0cb8b6;
    font-size: 45px;
    margin-bottom: 25px;
}

.service-info {
    margin-bottom: 20px;
}

.icon-info h4 {
    padding-bottom: 15px;
}

.icon-info p {
    font-size: 15px !important;
}

/*event*/
.item {
    margin: 10px;
}

    .item img {
        /*display: block;*/
        width: 100%;
        height: auto;
    }	
#event {
    background: url(IMAGES/GADC1.png) no-repeat;
    background-size: cover;
}
.bg-color {
    background-color: RGBA(0, 0, 0, 0.61);
    min-height: 630px;
}
.left-images img {
    height: 100%;
    width: 100%;
}

.left-images {
    /* border: 1px solid red; */
    height: 100%;
    padding: 0px !important;
    box-sizing: border-box;
    margin: 0 !important;
}

.details-text {
    /*border:1px solid red;*/
    box-sizing:border-box;
}

.content-holder{
    height: 100%;
}
.details-text {
padding-bottom: 20px;
margin-bottom: 20px;
    background-color: rgba(166, 277, 222, 0.10);
    border-right: 2px solid #A87F41;
    border-right: 12px solid #841b2d;
    /*/    padding: 20px 20px 30px 30px;*/
    /* overflow: auto; */
}
.content-holder h2 {
    color: #FFB03B;
    margin-top: 30px;
    padding-bottom: 15px;
    font-family: 'Satisfy', sans-serif;
}

.content-holder address strong {
    color: #FFB03B;
    padding: 10px 0px;
}

.details-text p {
    color: #E8E8E8;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 300;
}
.details-text .btn.btn-read-more{
    margin: auto;
    
}
.btn-read-more {
    background: #FFB03B;
    padding: 7px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 3px;
    color: #FFF;
    text-transform: uppercase;
    /* margin-top: 10px; */
    /* margin: 20px auto; */
}
.div-button{
text-align: center;
}
    .btn-read-more:hover {
        color: #000;
    }

/*event end*/

.muf {
    font-family: 'Indie Flower', cursive;
}

.title-web {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}
.header-h {
    color: #FFB03B;
    
    font-family: 'Satisfy', sans-serif;
    font-weight: 300;
}

.header-p {
    color: #9699a6;
    
}
.rounded1{
    border-radius:50%;
border:1px solid red;
}
.col-lg-3.col-md-3 {
   /*// margin: 0 !important;*/
    /*padding: 0 !important;*/
}


.backgroundspan  .before {
    position: absolute;
    height: 100%;
    width: 50%;
    background: url(IMAGES/top-rectangle.png);
    background-position: top right;
    background-size: 100%;
    /*top: 520px;*/
    right: 0;
    z-index: -999;
    background-repeat: no-repeat;
}

.backgroundspan .after {
    position: absolute;
    height: 60%;
    width: 100%;
    background: url(IMAGES/bottom-rectangle.png);
    background-position: bottom left;
    background-size: contain;
    bottom: 0;
    left: 0;
    z-index: -9999;
    background-repeat: no-repeat;
}

